@{
    ViewData["Title"] = "Lista de Pokemones";

    var userPokedexList = ViewBag.PokedexList as List<Pokedex>;
    var userDetails = ViewBag.UserDetails as ApplicationUser;
}

<h1>Lista de Pokemones</h1>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>ID Pokemon</th>
            <th>Fecha de Captura</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokedex in userPokedexList)
        {
            <tr>
                <td>@userDetails.FirstName</td>
                <td>@pokedex.PokemonID</td>
                <td>@pokedex.fecha_captura</td>
                <td>
                    <button class="btn btn-warning" onclick="location.href='@Url.Action("Edit", new { id = pokedex.id_Pokedex })'">Editar</button>
                    <button class="btn btn-danger" onclick="deletePokemon(@pokedex.id_Pokedex)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<button type="button" onclick="location.href='@Url.Action("MainView")'" class="btn btn-primary">Go Back</button>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function deletePokemon(id) {
            if (confirm("¿Estás seguro de que deseas eliminar este Pokémon?")) {
                $.ajax({
                    url: '@Url.Action("DeleteAjax")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            $("#row-" + id).remove();
                        } else {
                            alert(result.message || "Error al eliminar el Pokémon.");
                        }
                    },
                    error: function () {
                        alert("Error al realizar la solicitud.");
                    }
                });
            }
        }
    </script>
}