@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Proyecto_Progra_Avanzada.Models.Pokedex

@{
    ViewData["Title"] = "Detalles del Pokedex";
}

<h1>Detalles del Pokedex</h1>

<div>
    <h4>Pokedex</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_Pokedex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_Pokedex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PokemonID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_captura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fecha_captura)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numeroEvolucion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numeroEvolucion)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vida)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.victorias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.victorias)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_Pokedex">Editar</a> |
    <a asp-action="Index">Volver a la Lista</a>
</div>
